# live-build 산출물
/cache/
/chroot/
/chroot.*/
/binary/
/binary.*/
/local/
/.build/
/build.log
/*.iso
/*.iso.sha256
/*.contents
/*.packages
/*.files
/*.log
/*.zsync
/*.sha256
/*.sha512

# lb config 가 생성하는 파일
/config/binary
/config/bootstrap
/config/build
/config/chroot
/config/common
/config/source
/config/bootloaders/

# auto/config 가 생성하는 파일
/config/includes.chroot_after_packages/usr/lib/haneul/os-release
/config/includes.chroot_after_packages/etc/issue
/config/includes.chroot_after_packages/etc/issue.net

# QEMU 테스트 디스크
/.qemu/
