# live-build 산출물
/base/debian/cache/
/base/debian/chroot/
/base/debian/chroot.*/
/base/debian/binary/
/base/debian/binary.*/
/base/debian/local/
/base/debian/.build/
/base/debian/build.log
/base/debian/*.iso
/base/debian/*.iso.sha256
/base/debian/*.contents
/base/debian/*.packages
/base/debian/*.files
/base/debian/*.log
/base/debian/*.zsync
/base/debian/*.sha256
/base/debian/*.sha512

# lb config 가 생성하는 파일
/base/debian/config/binary
/base/debian/config/bootstrap
/base/debian/config/build
/base/debian/config/chroot
/base/debian/config/common
/base/debian/config/source
/base/debian/config/bootloaders/

# auto/config 가 생성하는 파일
/base/debian/config/includes.chroot_after_packages/usr/lib/kiyu/os-release
/base/debian/config/includes.chroot_after_packages/etc/issue
/base/debian/config/includes.chroot_after_packages/etc/issue.net

# QEMU 테스트 디스크
/.qemu/
/out/
/base/fedora/out/
/base/fedora/.build/
__pycache__/
apps/kiyu-imager-desktop/node_modules/
apps/kiyu-imager-desktop/dist/
apps/kiyu-imager-desktop/out/
