[Unit]
Description=Haneul OS first boot setup
ConditionPathExists=!/var/lib/haneul/firstboot-done
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/lib/haneul/firstboot
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
