# kiyu 부트 파라미터 (설치본)
GRUB_DISTRIBUTOR="kiyu"
GRUB_TIMEOUT=3
GRUB_TIMEOUT_STYLE=menu
GRUB_CMDLINE_LINUX_DEFAULT="quiet apparmor=1 security=apparmor slab_nomerge init_on_alloc=1 randomize_kstack_offset=on page_alloc.shuffle=1"
# 윈도우 듀얼부팅 자동 감지
GRUB_DISABLE_OS_PROBER=false
